{% extends 'tinyurl/base.html' %} {% block body %}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<div class="container">
    <div class="card mt-5">
        <div class="card-header text-center py-3">
            <h1>URL Shortner <i class="fas fa-link px-2"></i></h1>
        </div>
        <div class="px-3 py-4">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row g-1">
                    <div class="col-10">{{form.long_url}}</div>
                    <div class="col-2">
                        <button
                            class="btn btn-success btn-lg w-100"
                            type="submit"
                        >
                            Shorten
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if errors %}
    <div class="alert alert-danger mt-4" role="alert">
        <p>{{errors}}</p>
    </div>
    {% endif %} {% if new_url %}
    <div class="mx-auto text-center mt-5">
        <h2 class="text-danger">Your shortened URL</h2>
        <p>You can copy the link below and share it with your friends</p>
        <a>{{new_url}}</a>
        <br />
        <div class="d-flex justify-content-center align-items-center">
            <a href="{{ new_url }}" class="btn btn-primary me-2">
                <i class="fas fa-external-link-alt"></i> Visit URL
            </a>
            <button
                class="btn btn-primary"
                onclick="copyToClipboard('{{ new_url }}')"
            >
                <i class="fas fa-copy"></i> Copy
            </button>
        </div>
        <br />
        <p><span class="text-danger">Previous URL:</span> {{ long_url }}</p>
    </div>

    {% endif %}
</div>

<script>
    function showNotification(message) {
        var notification = document.createElement("div");
        notification.className = "notification success";
        notification.innerHTML =
            '<span class="notification-icon">&#10004;</span>' + message;
        document.body.appendChild(notification);

        setTimeout(function () {
            notification.style.display = "none";
            document.body.removeChild(notification);
        }, 3000); // Display the notification for 3 seconds
    }

    function copyToClipboard(text) {
        var dummy = document.createElement("textarea");
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand("copy");
        document.body.removeChild(dummy);

        showNotification("Copied to clipboard!");
    }
</script>

<style>
    .notification {
        position: fixed;
        top: 60px;
        right: 10px;
        padding: 10px;
        background-color: #e0f4e0;
        color: #000;
        display: flex;
        align-items: center;
    }

    .notification.success {
        background-color: #b4e8b4;
    }

    .notification:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
        background-color: #327932;
    }

    .notification-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-left: 5px;
        border-radius: 50%;
        background-color: #fff;
        color: #4caf50;
        font-weight: bold;
    }
</style>

{% endblock body %}
