{% extends 'tinyurl/base.html' %} {% block body %}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center py-3">
            <h1>URL Shortener <i class="fas fa-link px-2"></i></h1>
        </div>
        <div class="card-body">
            <form method="GET" class="mb-3" id="search-form">
                <div class="input-group">
                    {{ search_form.query }}
                    <button
                        class="btn btn-success"
                        type="submit"
                        form="search-form"
                    >
                        Search
                    </button>
                    <a class="btn btn-danger ms-2" href="{% url 'myurls' %}"
                        >Reset</a
                    >
                </div>
            </form>
            <div class="row m-5">
                {% for purls in myurls %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div
                            class="card-body d-flex flex-column justify-content-between"
                        >
                            <h2 class="card-title">{{ purls.url_index }}</h2>
                            <h6 class="card-title">
                                Created: {{ purls.created|date:"F d, Y H:i:s" }}
                            </h6>
                            <h6 class="card-title">
                                Times Clicked: {{ purls.times_followed }}
                            </h6>
                            <div class="d-flex align-items-center">
                                <h5 href="#" class="card-text"><span class="text-success">Short Link - </span>{{ request.get_host }}/{{ purls.short_url }}
                                </h5>
                                <button
                                    class="btn btn-primary ms-5 btn-sm copy-btn"
                                    onclick="copyToClipboard('{{ request.get_host }}/{{ purls.short_url }}')"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Copy to Clipboard"
                                >
                                    <i class="fas fa-copy"></i>
                                </button>
                                <a
                                    href="{% url 'redirect_url' shortened_part=purls.short_url %}"
                                    class="btn btn-primary ms-3 btn-sm"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Visit URL"
                                >
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                                <a
                                    href="{% url 'delete_url' purls.id %}"
                                    class="btn btn-danger ms-3 btn-sm"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Delete"
                                >
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                            <br>
                            <p><span class="text-danger">Previous URL:</span> {{ purls.long_url }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="pagination text-center mt-4 d-flex justify-content-center">
    <ul class="pagination justify-content-center">
        {% if myurls.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ myurls.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        
        {% for i in myurls.paginator.page_range %}
            {% if myurls.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% elif i > myurls.number|add:"-3" and i < myurls.number|add:"3" %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        
        {% if myurls.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ myurls.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ myurls.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
<script>
    function showNotification(message) {
        var notification = document.createElement("div");
        notification.className = "notification success";
        notification.innerHTML =
            '<span class="notification-icon">&#10004;</span>' + message;
        document.body.appendChild(notification);

        setTimeout(function () {
            notification.style.display = "none";
            document.body.removeChild(notification);
        }, 3000); // Display the notification for 3 seconds
    }

    function copyToClipboard(text) {
        var dummy = document.createElement("textarea");
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand("copy");
        document.body.removeChild(dummy);

        showNotification("Copied to clipboard!");
    }
</script>
<style>
    .notification {
        position: fixed;
        top: 60px;
        right: 10px;
        padding: 10px;
        background-color: #e0f4e0;
        color: #000;
        display: flex;
        align-items: center;
        animation: fade-in 0.3s ease-in-out;
    }

    .notification.success {
        background-color: #b4e8b4;
    }

    .notification:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
        background-color: #327932;
    }

    .notification-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-left: 5px;
        border-radius: 50%;
        background-color: #fff;
        color: #4caf50;
        font-weight: bold;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
{% endblock body %}
