{% extends 'tinyurl/base.html' %}

{% block body %}
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow mt-5" style="background-color: rgba(255, 255, 255, 0.5);">
                    <div class="card-body">
                        <h1 class="mt-4 mb-3 text-center">Register</h1>
                        {% if messages %}
                        <div class="alert alert-warning" role="alert">
                            <ul class="mb-0">
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <form method="post" action="{% url 'register' %}" class="needs-validation">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
                                <input
                                    type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
                                    name="{{ field.html_name }}"
                                    class="form-control"
                                    maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
                                    id="{{ field.id_for_label }}"
                                    required
                                />
                                {% if field.errors %}
                                <div class="invalid-feedback">
                                    <ul class="mb-0">
                                        {% for error in field.errors %}
                                            <li>{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                {% if field.error %}
                            {% endif %}
                            </div>
                            {% endfor %}
                            <div class="alert alert-primary">
                                <ul class="mb-0">
                                    <li>Your password can’t be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password must be contain 1 Upper Case, 1 Lower Case and 1 Digit.</li>
                                </ul>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-3" style="background-color: rgba(34, 38, 42, 0.7); border-color: rgba(34, 38, 42, 0.7);">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
